/*GFont*/
/*Quicksand*/
@import url('https://fonts.googleapis.com/css?family=Pacifico|Quicksand:400,600,700&display=swap');
/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/*Open sans*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');
/*Oxygen*/
@import url('https://fonts.googleapis.com/css?family=Comic+Neue|Girassol|Oxygen&display=swap');


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', 'arial';
	border: 1px solid red;
}



header {
	max-width: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
}

.cover {
	max-width: 80%;
	display: flex;
	/*margin-right: 400px;*/
}

.cover img {
	width: 150px;
	height: 150px;
	margin-top: -30px;
	margin-bottom: -30px;
	/*margin-left: 50px;*/
}

.cover {
	outline: none;
	border: 0 solid white;
	background-color:white;
	cursor: pointer;
}

.cover ul li {
	padding-right: 10px;
	margin-top:30px;
}

/*Efek box shadow*/
.card {
	box-shadow: 0px 2px 4px 0 gray;
	border: 0px solid white;
}


.main {
	/*background-color: red;*/
	margin-top: 100px;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 200px;
}

.cover-main {
	/*background-color: green;*/
	flex-basis: 25%;
	display: flex;
	flex-direction: column;
}

/*form * {
	box-sizing: content-box;
}*/

form label {
	font-size: 12px;
}

form input[type="checkbox"] {
	width: 12px;
}

.daftar-login {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
}

.daftar-login #learn-more {
	text-align: center;
	font-size: 12px;
	margin-top: 25px;
}

.daftar-login #masuk {
	text-align: center;
	font-size: 15px;
	margin-top: 25px;
}

.daftar-login a {
	text-decoration: none;
	color: #08808E;
	font-weight: bold;
}

.daftar-login a:hover {
	border-bottom: 1px solid #08808E;
}

.select {
	margin-bottom: 20px;
}

.select p {
	font-size: 20px;
	font-weight: bold;
	color: #746C6B;
}

.select #back {
	font-size: 13px;
	margin-bottom: 5px;
}

#back a {
	text-decoration: none;
	color: #08808E
}

#back a:hover {
	border-bottom: 1px solid #08808E
}

form button {
	margin-top: 5px;
	padding: 18px;
	border-radius: 5px;
	border: 1px solid gray;
	outline: none;
	font-size: 15px;
	color: gray;
	background-color: white;
	cursor: pointer;
}

.siswa:hover,
.guru:hover,
.ortu:hover {
	border: 1px solid #41A3DB;
	font-weight: bold;
	color: #41A3DB
}


footer {
	margin-top: 145px;
	height: 300px;
	display: flex;
	flex-direction: column;
	background-color: #424242;
}

.footer {
	display: flex;
}

.footer div {
	margin: 50px;
}

.footer ul,
.footer .contact {
	margin-left: 100px;
}

.footer ul li {
	margin-top: 15px;
	list-style-type: none;
}

.footer ul li a:hover {
	font-weight: bold;
	color: #C1D1E1;
	opacity: 0.4;
}

.footer a  {
	text-decoration: none;
	color: white;
	font-family: Roboto;
}

.footer p  {
	text-decoration: none;
	color: white;
	font-family: Roboto;
}

.footer .contact {
	margin-left: 400px;
}



#copyright span {
	color: white;
	font-size: 12px;
	float: right;
	margin-right: 10px;
}



/* //Responsive// */
@media screen and (max-width: 1000px) {
	/* //test */
	* {
		/* width: 100%; */
		/* background-color: red; */
		/* border: 1px solid red; */
		overflow-x: hidden;
	}

	.card {
		width: 100%;
	}

	.cover-main {
		flex-basis: 80%;
	}

	footer * {
		display: none;
		/* background-color: red; */
	}

	footer {
		display: none;
	}

	.footer-mobile {
		margin-top: -100px;
		display: flex;
		/* margin-bottom: 10px; */
		/* border: 1px solid red; */
	}

	.footer-mobile * {
		/* display: none; */
		width: 100%;
		/* background-color: red; */
	}

	.f-mobile {
		width: 70%;
		display: flex;
		/* justify-content: center; */
		margin: 0 auto;
	}

	.f-mobile span {
		text-align: center;
		font-size: 0.6em;
		font-weight: bold;
		color: #73778b;
	}




}